
html,
body {
    margin: 0;
    background:#261C2C;;
    z-index: -1;
    position: relative;
}

.rectangle-1{
    position : absolute;
    width: 1440px;
    height: 80px;
    background: #3E2C41;
    margin: 0px;
}

#nav{
    background: #3E2C41;
    color: #E6B325;
    height: 4vmax;
    font-size: 30px;
}

h3{
    color: #ffffff;
}

#rectangle-4{
        width: 500px;
        height: 126px;
        left: 129px;
        top: 275px;
        background: #5C527F;
        color:#ffffff;
}

#link-text{
    font-size: large;
    color: #ffffff;
}

#inner-rectangle{
    text-align: center;
    width: 400px;
    height: 88px;
    left: 149px;
    top: 294px;
    background: #3E2C41;
    font-size: xx-large;
}


#rectanlge-2{
        text-align: center;
        font-size: 40px;
        width: 500px;
        height: 47px;
        top: 200px;
        padding-left: 0px;
        background: #5C527F;
}

.rectangle-3{
    color: #E6B325;
    font-size: 40px;
    padding-left: 180px;
}

#rectangle-6{
    font-size:large;
    text-align: right;
    padding-right: 20px;
    padding-top: 0px;
}

.plus-Button{
    color:black;
    background-color:#E6B325;
    position: absolute;
}
#query{
    background-color: #E6B325;
    color: black;
    position: absolute;
    top: 5px;
    left:20px;
    bottom: 900px;
    height: 40px;
    width: 500px;
    border: none;
}

.wrapper{ 
        width: 540px;
        height: 850px;
        background: #5C527F;
        position: relative;
        float: right;
        bottom: 250px;
        right: 100px;
        margin: 20px;
}

.card {
    height: 100px;
    background: #3E2C41;;
    text-align: center;
    font-size: 25px;
}

@media only screen and (min-width: 600px) {
    .card {
        width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-device-width: 800px) and (orientation: portrait) {
    .card {
        margin: 12px 10px;
    }
} 

