<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Previous Workouts</title>
    <link href="./dist/output.css" rel="stylesheet" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    referrerpolicy="no-referrer">
    
</head>
<body>
    <!-- needs header color #3E2C41 w/ logo in top left corner -->
    <nav class="w-full py-10 relative shadow-md" style="background-color: #3E2C41"></nav>
    <!-- header w/ previous workouts -->
    <div class="min-h-screen" style=" background-color: #261c2c"> 
        <h1 class="text-5xl text-white tracking-widest text-center py-10 pt-5"> PREVIOUS WORKOUTS</h1>
        <div class="container mx-auto">
    <div class="w-10-12 mx-auto px-20 py-10" style=" background-color:#5C527F">
        <div class="w-2/4 container mx-auto" style="background-color:#3E2C41">
            <h3 class="text-center text-white"> Split Squat</h3>
        <div class="w-6/4 mx-auto">
    </div>
    <!-- container displaying workouts  -->
</body>