<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../assets/images/spot-logo.png">
    <title>SPOTTER</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        referrerpolicy="no-referrer" /> --}}
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: "#E6B325",
                        secondary: "#3E2C41",
                        tertiary: "#261C2C",
                        quarternary: "#5C527F",
                        hover:"#FADA9D",
                    },
                },
            },
        };
    </script>
</head>

<body class="bg-tertiary">

{{{body}}}

</body>
<script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>

</html>