<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link href="./dist/output.css" rel="stylesheet" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    referrerpolicy="no-referrer"
  />
</head>
<body>
    <!-- First header needs to say "We're Happy You're Here!" text color is #E6B325  -->
    <!-- Second header is "Please compltete this form to sign up!" text color #FFFFFF -->
    <div class="min-h-screen py-40" style="background-color: #261c2c">
        <div class="container mx-auto">
            <div class="w-10/12 mx-auto" style="background-color:#3E2C41">
                
                    <!-- Form needs w/ info: lName, fName, Email, Password, cWeight, cHeight, & age -->
                    <form action="#">
                        <DIV CLASS="h-screen">
                        <h1 class="text-5xl text-white font-bold tracking-widest text-center pt-5">We're Happy You're Here!</h1>
                        <h2 class= "text-center mt-5 text-5xl text-white">Please complete this form to sign up!</h2>
                        <!-- Form needs w/ info: lName, fName, Email, Password, cWeight, cHeight, & age -->
                    <div class="mt-5">
                        <label class="text-white font-bold" for="lName"> Last Name:</label>
                        <input class="border">
                        
                    </div>
                    <div class="mt-5"> 
                        <label class="text-white font-bold"  for="fName">First Name:</label> 
                        <input class="border"> 
                    </div>
                    <div class="mt-5">
                        <label class="text-white font-bold" for="Email">Email:</label> 
                        <input class="border">
                    </div>
                    <div class="mt-5"> 
                        <label class="text-white font-bold" for="Password">Password:</label>
                        <input class="border">
                    </div>
                    <div class="mt-5"> 
                        <label class="text-white font-bold" for="cWeight">Current Weight:</label>
                        <input class="border">
                    </div>
                    <div class="mt-5"> 
                        <label class="text-white font-bold" for="cHeight">Current Height:</label>
                        <input class="border">
                    </div>
                    <div class="mt-5"> 
                        <label class="text-white font-bold" for="age">Age:</label>
                        <input class="border">
                    </div>
                </form>
                </div>
                
    </div>
    
       
    </div>
  
</body>
</html>