<div>
  <header>
    <h1 class="text-7xl tracking-widest text-center pt-8">SPOTTER</h1>
  </header>
  <div class="flex justify-center items-center main-container">
    <div class="w-1/2 shadow-lg form-container p-5 rounded-lg">
      <p class="font-bold text-5xl text-center mt-3">Login to Your Account</p>
      <img
        id="logo"
        src="./assets/images/spot-logo.png"
        alt="spotter logo of a gold stick man raising barbell"
      />
      <div class="mb-3">
        <label>Username</label>
        <br />
        <input
          type="text"
          placeholder="Type your username"
          class="pl-3 pt-3 pb-3 mb-3 w-full rounded-lg"
        />
      </div>

      <div>
        <label>Password</label>
        <br />
        <input
          type="password"
          placeholder="Type your Password"
          class="pl-3 pt-3 pb-3 mb-3 w-full rounded-lg"
        />
      </div>
      <button
        id="login-btn"
        class="block pt-3 pb-3 pl-6 pr-6 rounded-lg w-full mt-5 font-bold"
      >
        LOGIN
      </button>
      <a href="#" class="mt-6 mb-3 text-center block" id="new-user">New Here?</a>
    </div>
  </div>
</div>