<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = { theme: { extend: { colors: { 
    primary: "#E6B325",
    secondary: "#3E2C41", 
    tertiary: "#261C2C", 
    quarternary: "#5C527F", 
    }, }, }, };
</script>
<div>
  <!-- Navigation  -->
  <nav class="w-full py-2 relative shadow-md bg-secondary">
    <button 
    id="home-button" 
    class="block pt-2 pb-2 pl-3 pr-3 text-white rounded-full ml-2 font-bold bg-primary">
      Home
    </button>
  </nav>
  <!-- Content  -->
  <div
    class="p-5 w-full p-5 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-12 bg-tertiary h-full"
  >
    <!-- Col 1  -->
    <div class="movement-list flex flex-col space-y-2 w-full items-center">
      <div class="text-primary font-semibold text-[1.5rem]">{{routine.scheduled}}</div>
      <div
        class="rounded-lg bg-quarternary p-3 text-white font-bold w-full text-center text-[1.5rem]"
      >
        {{ routine.name }}
      </div>
      <div class="w-full flex flex-col space-y-3">
        <!-- List  -->
        {{#each existingExercises as |exercise| }}
        {{> existingExercise }}
        {{/each}}
        <!-- List End  -->
      </div>
    </div>
    <!-- Col 2  -->

    <div class="w-full p-2 bg-quarternary h-fit">
      <form data-Id = "{{routine.id}}" id="searchbar">

        <input
        class="rounded-lg bg-primary w-full p-3 outline-none placeholder:text-secondary placeholder:font-semibold"
        placeholder="Search Movements"
        type="text"
        id="user-query"
        />
      </form>
      
      <div class="workout-list mt-2 flex flex-col space-y-3">
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="./js/exercises.js" type="module"></script>
<script src="./js/routineEdit.js" type="module"></script>