<div>
  <header>
    <h1 class="text-7xl tracking-widest text-center pt-5">SPOTTER</h1>
  </header>
  <div class="flex justify-center items-center main-container">
    <div class="w-2/3 h-2/3 shadow-lg form-container p-5 rounded-lg">
      <h2
        id="signup-header"
        class="text-5xl tracking-widest font-bold text-center mt-3 mb-5"
      > We're Happy You're Here!</h2>
      <h2 id="signup-sub" class="text-center mb-5 text-xl text-white">Please
        complete this form to sign up for your new best friend in the Gym</h2>

      <div>
        <input
          type="text"
          placeholder="First Name"
          class="pl-3 pt-3 pb-3 mb-3 w-full rounded-lg"
        />
      </div>

      <div>
        <input
          type="text"
          placeholder="Last Name"
          class="pl-3 pt-3 pb-3 mb-3 w-full rounded-lg"
        />
      </div>

      <div>
        <input
          type="text"
          placeholder="Email"
          class="pl-3 pt-3 pb-3 mb-3 w-full rounded-lg"
        />
      </div>

      <div>
        <input
          type="text"
          placeholder="Password"
          class="pl-3 pt-3 pb-3 mb-3 w-full rounded-lg"
        />
      </div>

      <button
        id="login-btn"
        class="block pt-3 pb-3 pl-6 pr-6 rounded-lg w-full mt-5 font-bold"
      >
        SIGN UP
      </button>
    </div>
  </div>
</div>