<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Previous Workouts</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="PWrkout.css" />
    
</head>
<body>
    <!-- needs header color #3E2C41 w/ logo in top left corner -->
    <nav class="w-full py-10 relative shadow-md" style="background-color: #3E2C41">
        <img class="spot-logo"src="/images/spot-logo.png">
    </nav>
    <!-- header w/ previous workouts -->
    <div class="min-h-screen" style=" background-color: #261c2c"> 
        <h1 id="text-center" class="text-5xl tracking-widest text-center py-10 pt-5"> PREVIOUS WORKOUTS</h1>
        <div class="container mx-auto">
    <div id="outer-rectangle" class=" mx-auto px-20 py-5" style=" background-color:#5C527F">
        <div id="inner-rectangle" class="mx-auto" style="background-color:#3E2C41">
            <h3 class="text-center text-white"> Split Squat </h3> 
                <a id="link-text" href="#">Learn Movement</a>
        <div class="w-6/4 mx-auto">
    </div>
    <!-- Footer Anchor  -->
    <!-- <footer class="md:justify-between md:p-6">
        <a id="link-text" href="#">Back to Weekly Routine</a>
    </footer> -->
   
</body>